<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/favicon-w.ico') }}" type="image/x-icon" />
        <title>{% block title %}NotEable{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>

        <div id="container">

            <header class="header">
                {% block header %}
                    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-main">
                        <a class="navbar-brand" href="{{ path('app_index_index') }}">
                            <img src="{{ asset('build/images/logo-w.png') }}" width="108" height="30" alt="NotEable">
                        </a>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="btn btn-outline-brown">Registration</a>
                            </li>
                            <li class="nav-item">
                                <span class="navbar-span">or</span>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('login') }}" class="btn btn-brown">Login</a>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
            </header>

            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebar_content %}{% endblock %}
                </div>
            {% endblock %}


            <div id="content">
                {% block body %}{% endblock %}
            </div>

            <footer class="bg-main fixed-bottom">
                {% block footer %}
                    2018.
                {% endblock %}
            </footer>
        </div>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
